.gameBody{
    display: grid;
    grid-template-rows: 175px 175px;
    grid-template-columns: 160px 160px 160px 160px;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.cardBack{
    height: 175px;
    width: 160px;
    background-color: blue;
    position: absolute;
    cursor: pointer;
}

.cardFront{
    height: 175px;
    width: 160px;
    /* background-color: red; */
    position: absolute;
}