/* https://spritegen.website-performance.org/ */
.sprite {
    background-image: url(spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-cat_die {
    width: 64px;
    height: 64px;
    background-position: -5px -5px;
}

.sprite-cat_getgun {
    width: 64px;
    height: 64px;
    background-position: -79px -5px;
}

.sprite-cat_idle {
    width: 64px;
    height: 64px;
    background-position: -153px -5px;
}

.sprite-cat_jump {
    width: 64px;
    height: 64px;
    background-position: -5px -79px;
}

.sprite-cat_jump_shot {
    width: 64px;
    height: 64px;
    background-position: -79px -79px;
}

.sprite-cat_spin {
    width: 64px;
    height: 64px;
    background-position: -153px -79px;
}

.sprite-cat_stand_shot {
    width: 64px;
    height: 64px;
    background-position: -5px -153px;
}

.sprite-cat_walk {
    width: 64px;
    height: 64px;
    background-position: -79px -153px;
}

.sprite-cat_walk_shot {
    width: 64px;
    height: 64px;
    background-position: -153px -153px;
}
