.sprite {
    background-image: url(images/spritesheet.png);
    background-repeat: no-repeat;
    display: block;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

.sprite-sprite_0 {
    width: 160px;
    height: 160px;
    background-position: -5px -5px;
}

.sprite-sprite_1 {
    width: 160px;
    height: 160px;
    background-position: -175px -5px;
}

.sprite-sprite_2 {
    width: 160px;
    height: 160px;
    background-position: -5px -175px;
}

.sprite-sprite_3 {
    width: 160px;
    height: 160px;
    background-position: -175px -175px;
}

.sprite-sprite_4 {
    width: 160px;
    height: 160px;
    background-position: -345px -5px;
}

.sprite-sprite_5 {
    width: 160px;
    height: 160px;
    background-position: -345px -175px;
}

.sprite-sprite_6 {
    width: 160px;
    height: 160px;
    background-position: -5px -345px;
}
