@font-face {
    /* font-family: "8bitwonder";
    src: url(8bitwonder.ttf); */
    font-family: "8bitmadness";
    src: url(8bitmadness.ttf);
    
}

h1 {
    color: dodgerblue;
    /* font-family: "8bitwonder"; */
    font-family: "8bitmadness";
    text-align: center;
}

.canvasPosition{
    padding: 0;
    margin: auto;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.textShadow {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
}

.textBody {
    position: fixed;
    left: 50%;
    top: 50%;
    color: white;
    font-family: "8bitwonder";
    background-color: rgba(0,0,0, .9);
    transform: translate(-50%, -50%);
    padding: 5%;
    overflow-y:auto;
    width: 800px;
    height: 550px;
    padding: 15px;
    border: 3px solid #fd6963;
    box-sizing: border-box;
}

.questionTitle{
    font-size: 24px;
    margin-bottom: 15px;
}

.question {
    line-height: 1.6;
    margin-bottom: 15px;
    font-size: 20px;
}

form {
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

input[type=text]{
    padding: 5px;
}

.submitData{
    cursor: pointer;
    font-family: "8bitwonder";
    font-size: 16px;
    padding: 5px;
    text-align: center;
    margin-right: 50px;
    margin-top: 50px;
    margin-left: 50px;
}

.intro {
    text-align: center;
    padding: 15px 0;
}

.centerButton {
    cursor: pointer;
    font-family: "8bitwonder";
    font-size: 16px;
    padding: 5px;
    text-align: center;
    margin-top: 50px;
    width: 188px;
    margin: 0 auto;
    float: none !important;
}